# Temp files created by most text editors.
#*~
# Nested build directory
#/build
#/bin
#/lib
#/objs
# VS2017 and VSCode config files.
#.vscode
#.vs
#.pdb
#.ipbd
# External projects that are tracked independently.
#projects/*
#!librarys/*.*
#librarys/wxwidgets
#!runtimes/*.*
#!tools/*.*

#*.pyc
src/out
src/native_client/toolchain/.tars/package_archives/llvm_saigo_x86_64_win32.tgz/a734131e08a585c9f9ec6731715ab1e573b871a3.tgz
